@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}

a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.container.blog {
	max-width: 960px;
}

.navbar {
	padding: 15px 10px;
	background: #eee;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
	display: flex;
	width: 100%;
}

#sidebar {
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 999;
	background: #24404d;
	color: #fff;
	transition: all 0.3s;
	margin-left: -250px;
}

#sidebar.active {
	margin-left: 0;
}

#sidebar .sidebar-header {
	padding: 8px 20px;
	background: #50b8dc;
}

#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 1px solid #304d5a;
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	color: #304d5a !important;
	background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #fff;
	background: #50b8dc;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #385868
}

ul.CTAs {
	padding: 20px;
}

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

a.download {
	background: #fff;
	color: #7386D5;
}

a.article,
a.article:hover {
	background: #50b8dc !important;
	color: #fff !important;
}

/**
 * Content.
 */
#content {
	width: calc(100% - 250px);
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;
}

#content.active {
	width: 100%;
}

/**
 * Media Query.
 */
@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
	}
	#sidebar.active {
		margin-left: 0;
	}
	#content {
		width: 100%;
	}
	#content.active {
		width: calc(100% - 250px);
	}
	#sidebarCollapse span {
		display: none;
	}
}

.loader {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100px;
}

.posts-container {
	margin-left: 16px;
}

.post-content img{
	width: 100%;
}

.main-navbar {
	background-color: #50b8dc;
	display: flex;
	justify-content: flex-end;
}

.main-content {
	padding: 0 24px;
}

.sidebar-header .nav-link {
	font-size: 24px !important;
}

@media only screen and (max-width: 1020px) {

	.navbar-expand-lg .navbar-nav {
		flex-direction: row;
	}

	.navbar-expand-lg .nav-item {
		padding-right: 16px;
	}
}

/* posts */
.post-wrapper {
	background-color: #fff;
	margin-bottom: 36px;
	padding: 24px 36px;
}

.post-title {
	margin-bottom: 16px;
	color: #00528a;
	font-size: 36px;
	display: inline-block;
}

.post-wrapper img {
	width: 100%;
	height: auto;
}

.post-excerpt {
	color: #4a4a4a;
}

.post-meta {
	display: flex;
	padding: 24px 0;
}

.post-meta > * {
	padding-right: 16px;
}

.post-meta > * > i {
	padding-right: 10px;
}

.pagination {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 36px 0 64px 0;
}

.page-no {
	padding: 8px 10px;
	background-color: #fff;
	border: 2px solid #f3f4f4;
	margin: 0 8px;
	width: 50px;
	height: 50px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}

.page-no.active {
	font-weight: 800;
	background-color: #00528a;
	color: #fff;
}

.prev,
.next {
	padding: 8px 10px;
	background-color: #00528a;
	color: #fff;
	border: 2px solid #f3f4f4;
	margin: 0 8px;
	width: 100px;
	height: 50px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.page-no:hover {
	background-color: #00528a;
	color: #fff;
}

.prev:hover,
.next:hover {
	color: #50b8dc;
}

/*Post Loader css*/
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.loader-title {
	display: block;
	height: 54px;
	background-image: linear-gradient(-45deg, #fff, #f3f4f4, #fff, #f3f4f4 );
	background-size: 400% 400%;
	animation: gradientBG 3s ease infinite;
}

.loader-img {
	display: block;
	height: 300px;
	background-image: linear-gradient(-45deg, #fff, #f3f4f4, #fff, #f3f4f4 );
	background-size: 400% 400%;
	animation: gradientBG 3s ease infinite;
}

.loader-excerpt {
	display: block;
	height: 100px;
	background-image: linear-gradient(-45deg, #fff, #f3f4f4, #fff, #f3f4f4 );
	background-size: 400% 400%;
	animation: gradientBG 3s ease infinite;
}

.loader-author,
.loader-date,
.loader-category {
	display: block;
	width: 100px;
	height: 24px;
	background-image: linear-gradient(-45deg, #fff, #f3f4f4, #fff, #f3f4f4 );
	background-size: 400% 400%;
	animation: gradientBG 3s ease infinite;
	margin-right: 20px;
}
